header {
    background-image: url("../images/store_bg.jpg");
    background-position: center top 54px;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;

    @media screen and (max-width: 880px) {
        background-blend-mode: darken;
        background-color: rgba(0, 0, 0, 0.568);
        background-position: right 54px;
    }

    @media screen and (max-width: 768px) {
        background-blend-mode: darken;
        background-color: rgba(0, 0, 0, 0.568);
        background-position: -950px 54px;
    }
}

.header_content {
    margin-top: 220px;

    @media screen and (max-width: 880px) {
        text-align: center;
    }

    .content__title {
        font-size: 57px;
        line-height: 68px;
        letter-spacing: 2px;
        max-width: 320px;
        color: $grey;

        @media screen and (max-width: 880px) {
            color: #ffffff;
            margin: 0 auto;
        }

        @media screen and (max-width: 520px) {
            font-size: min(57px, max(35px + 2vw));
            line-height: 50px;
        }

        @media screen and (max-width: 320px) {
            font-size: min(35px, max(25px + 2vw));
        }
    }

    .content__text {
        font-size: 16px;
        line-height: 24px;
        color: $grey;
        max-width: 356px;
        margin: 22px 0;

        @media screen and (max-width: 880px) {
            color: #ffffff;
            margin: 22px auto;
        }
    }

    .content__buttons {
        display: flex;
        align-items: center;
        gap: 0 22px;

        @media screen and (max-width: 880px) {
            justify-content: center;
        }

        @media screen and (max-width: 420px) {
            flex-direction: column;
            margin-top: 30px;
            gap: 15px 0;
        }

        .cnt__btn {
            padding: 8px 20px;
            border: none;
            border: 2px solid $grey;
            font-size: 16px;
            cursor: pointer;
            border-radius: 4px;
            background-color: transparent;
            color: $grey;
            position: relative;
            z-index: 10;
            transition: .2s ease;

            @media screen and (max-width: 880px) {
                color: #ffffff;
                border: 2px solid #fff;
            }

            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 0%;
                height: 100%;
                z-index: -1;
                background-color: #3c4043ab;
                transition: .2s ease;

                @media screen and (max-width: 880px) {
                    background-color: rgba(255, 255, 255, 0.452);
                }
            }

            &:hover {
                background-color: transparent;
                color: #fff;

                @media screen and (max-width: 880px) {
                    color: $grey;
                }

                &::after {
                    width: 100%;
                }
            }

            &.btn_2 {
                border: none;

                &::after {
                    border-radius: 4px;
                }
            }
        }
    }
}